function Game.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
call Board.new 0
pop this 0
push constant 1
call Player.new 1
pop this 1
push constant 2
call Player.new 1
pop this 2
push constant 1
pop this 3
push pointer 0
return
function Game.run 3
push argument 0
pop pointer 0
call Graphics.Print_Empty_Board 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Player.chooseColumn 1
pop local 2
goto IF_END0
label IF_FALSE0
push this 2
call Player.chooseColumn 1
pop local 2
label IF_END0
push this 0
push local 2
push this 3
call Board.placePiece 3
pop local 0
push local 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 3
call Board.checkWin 2
pop local 1
push local 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call Graphics.Print_Player_X_Wins_Message 1
pop temp 0
push this 3
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
push this 0
push constant 0
call Board.getWinningIndexRow 2
push this 0
push constant 0
call Board.getWinningIndexCol 2
push this 0
push constant 1
call Board.getWinningIndexRow 2
push this 0
push constant 1
call Board.getWinningIndexCol 2
push this 0
push constant 2
call Board.getWinningIndexRow 2
push this 0
push constant 2
call Board.getWinningIndexCol 2
push this 0
push constant 3
call Board.getWinningIndexRow 2
push this 0
push constant 3
call Board.getWinningIndexCol 2
call Graphics.Print_Winning_Animation 9
pop temp 0
push constant 0
return
goto IF_END3
label IF_FALSE3
push constant 0
push this 0
push constant 0
call Board.getWinningIndexRow 2
push this 0
push constant 0
call Board.getWinningIndexCol 2
push this 0
push constant 1
call Board.getWinningIndexRow 2
push this 0
push constant 1
call Board.getWinningIndexCol 2
push this 0
push constant 2
call Board.getWinningIndexRow 2
push this 0
push constant 2
call Board.getWinningIndexCol 2
push this 0
push constant 3
call Board.getWinningIndexRow 2
push this 0
push constant 3
call Board.getWinningIndexCol 2
call Graphics.Print_Winning_Animation 9
pop temp 0
push constant 0
return
label IF_END3
label IF_FALSE2
push pointer 0
call Game.switchPlayer 1
pop temp 0
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.switchPlayer 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 3
goto IF_END0
label IF_FALSE0
push constant 1
pop this 3
label IF_END0
push constant 0
return
