function Main.main 0
call Graphics.Print_Empty_Board 0
pop temp 0
push constant 0
push constant 0
call Graphics.Print_Piece_Type_Two 2
pop temp 0
push constant 1
push constant 1
call Graphics.Print_Piece_Type_Two 2
pop temp 0
push constant 2
push constant 2
call Graphics.Print_Piece_Type_Two 2
pop temp 0
push constant 3
push constant 3
call Graphics.Print_Piece_Type_Two 2
pop temp 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 2
push constant 2
push constant 3
push constant 3
call Graphics.Print_Winning_Animation 9
pop temp 0
push constant 0
return
